#MarsRover {
            display: block;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            cursor: pointer;
            width: 80%;
            left: 455%;
        }

        #blocktext {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .buttons{
            text-align:center;
        }

        .button {
            display: inline-block;
            padding: 15px 25px;
            font-size: 24px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            outline: none;
            color: #fff;
            background-color: orange;
            border: none;
            border-radius: 15px;
            box-shadow: 0 9px #999;
        }

        .button:hover {background-color: #3e8e41}

        .button:active {
            background-color: #3e8e41;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }

        td, th {
            padding: 15px;
            border: 2px solid wheat;
            width: 1000px;
            text-align: center;
            color: wheat;
        }
        .score{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h3{
            margin-right: 10px;
            margin-bottom: 300px;
        }

        .reverse{
            transform: scale(-1, 1);
        }


        #Rover{
            width: 10%;
        }